/* Dev - Elvin */

/*************General*******/

body {
    background-color:lightgray;
    font-family: 'Roboto Condensed', sans-serif;
    }
    
ul {list-style: none; /* esta linea es para remover bullets */
    margin: 0;
    padding: 0;
        }

a{
    text-decoration: none; /* esta linea es para remover linea en las letras "hyperlink" */
}
/******** Fotos **********/


#fotos{
    padding: 0;
    margin: 0;
        
}

.img-responsive{
    max-width: 100%;
}
.img-responsive1{
    max-width: 100%;
}
.img-responsive2{
    max-width: 50%;
}
.social_icon{
    max-width: 2%;
    max-height: 2%;
}
/**********************************/


#formulario{
    
    margin-left: 200px;
    
}

.rows{
    max-width: 50px;
}